body{
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.Conatiner{
    background-color:whitesmoke;
    width: 200px;
    height:350px;
    padding: 20px;
    text-align: center;
}
#data{
    width: 180px;
    padding: 10px;
    margin-bottom: 20px;
}
.btns{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    
}
button:hover{
    background-color: green;
}
button{
    padding: 10px;
    font-size: larger;
    cursor: pointer;
}
.CE{
    display: flex;
    justify-content: end;
    gap: 20px;
}

